
/*Scroll*/
.chat-body, .users-listing{
	&::-webkit-scrollbar{
		width:4px;
	}
	&::-webkit-scrollbar-track{
		background-color: var(--light-blue);
	}
	&::-webkit-scrollbar-thumb{
		background-color: var(--primary);
	}
}