
body{

// Colors
	--primary: #3498db;
	--white: #fff;
	--light-blue: #d6e3ec;
	--grey: #edf0f2;
	--blue-1: #3399cc;
	--light-blue: #d4e1ea;
	--light-blue-1:#dbeaf4;
	--cian: #51dacf;
	--app-background: #f5f6f8;
	--text-color-100: #f6fafe;
	--text-color-200: #8ea1b4;
	--text-color-300:#c9d6df;
	--text-color-700:#2775a9;
	--text-color-900: #16315c;
	// Chat
	--blue:#3598db;

// Indents
	--side-indent: 15px;
}

@media (min-width: 576px) {
	body{
		--side-indent:52px;
	}
}

body.night-mode{
	// Colors
	--primary: #2f190a;
	--white: #d4cac7;
	--light-blue: #d6e3ec;
	--grey: #edf0f2;
	--blue-1: #9c9090;
	--light-blue: #c5b6ab;
	--light-blue-1: #dbeaf4;
	--cian: #359a82;
	--app-background: #aca1a1;
	--text-color-100: #f6fafe;
	--text-color-200: #69656f;
	--text-color-300: #72645a;
	--text-color-700: #f7efed;
	--text-color-900: #ae6737;
	// Chat
	--blue:#45382b;
}